@font-face {
  font-family: "Lemon-Regular";
  src: url("../font/Lemon-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../font/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../font/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/OpenSans-Regular.ttf");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

:root {
  font-size: 62.5%;
  --main-color: #ef5e41;
}
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 10rem;
  &__logo {
    &--heading {
      font-family: "lemon-regular";
      font-weight: 400;
      font-size: 1.6rem;
      color: var(--main-color);
    }
  }
  &__nav {
    &--items {
      display: flex;
      align-items: center;

      & a {
        &.active {
          color: var(--main-color);
        }
        font-family: "OpenSans-SemiBold";
        font-weight: 600;
        font-size: 1.8rem;
        list-style: none;
        margin-left: 10rem;
        text-transform: capitalize;
        color: #000;
        text-decoration: none;

        /*start animation */
        position: relative;

        &:link::before,
        &:visited::before,
        &:link::after,
        &:visited::after {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 0.25rem;
          background-color: #000;
          transform: scaleX(0);
          transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
        }
        :link::before,
        &:visited::before {
          top: 0;
          // transform origin is center by default
          transform-origin: left;
        }
        &:link::after,
        &:visited::after {
          bottom: 0;
          // transform origin is center by default
          transform-origin: right;
        }
        &:hover::before,
        &:active::before,
        &:hover::after,
        &:active::after {
          transform: scaleX(1);
        }
        /*end animation */
      }
    }
  }
}

.hero-section {
  background-image: url("../images/BG.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 10rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &__content {
    &--heading {
      font-family: "lemon-regular";
      font-weight: 400;
      font-size: 6.4rem;
      width: 400px;
      & span {
        color: var(--main-color);
      }
    }
    &--para {
      font-family: "OpenSans-Regular";
      font-weight: 400;
      font-size: 1.8rem;
      width: 30.9rem;
      padding: 3rem 0rem;
    }
    &--details {
      font-family: "OpenSans-Bold";
      font-weight: 700;
      font-size: 1.5rem;
      color: #fff;
      width: 13.5rem;
      height: 6.5rem;
      border-radius: 5rem 0 5rem 0;
      background-color: var(--main-color);
      border: none;
    }
  }
}
